{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    {% if article %}

        <div class="col-lg-8">

        <!-- Title -->
        <h1 class="mt-4">{{ article.title }}</h1>

        <!-- Author -->
        <p class="lead">
            by
            <a href="#">Start Bootstrap</a>
        </p>

        <hr>

        <!-- Date/Time -->
        <p>Posted on {{ article.publicationDate|date('jS F Y') }}</p>

        <hr>
            <img class="img-fluid rounded" src="http://placehold.it/900x300" alt="">
            <hr>
        <p>{{ article.content }}</p>

        <hr>
            {{ render(controller('App\\Controller\\CommentController::create', {})) }}
    </div>

        </div>
        </div>
    {% else %}
        <h1>L'article recherché n'existe pas</h1>
    {% endif %}
    {% include('comment/create.html.twig') %}
{% endblock %}